<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">The following are the services offeredby GeoWorx</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">GeoWorx Software</h4>
                    <p class="text-muted">A state of the art, highly advanced software package that provides end to end functionality to manage survey equipment, monitor field data, provide alerts and notifications with advanced reporting and analytics capabilities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical Consulting</h4>
                    <p class="text-muted">Our team helps you with the day to day technical consulting for various Geological projects.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Digital Insights</h4>
                    <p class="text-muted">Our team will help you analyse the data and help you provide insights by leveraging advanced analytics, machine learning and artificial intelligence technologies.</p>
                </div>
            </div>
        </div>
    </section>
